<div class="container">
    <div class="row align-items-center" style="height: 250px;">
        <div class="col-2 mb-5">
            <div class="row mb-3">
                <h5 (click)="toggleYears()" *ngIf="toggle" class="text-primary mb-0 user-select-none" role="button">Все года <hr/></h5>
                <h5 (click)="toggleYears()" *ngIf="!toggle" class="text-muted mb-0 user-select-none" role="button">Все года <hr/></h5>
            </div>
            <div class="row">
                <h5 (click)="toggleMonths()" *ngIf="!toggle" class="text-primary user-select-none" role="button">Месяца <hr/></h5>
                <h5 (click)="toggleMonths()" *ngIf="toggle" class="text-muted user-select-none" role="button">Месяца <hr/></h5>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12" #slider>
                    <p-slider (onChange)="drawToolTips()" [(ngModel)]="rangeValues" [range]="true" [min]="minValue" [max]="maxValue"></p-slider>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-between mt-3 px-2">
                    <ng-template ngFor let-item [ngForOf]="values">
                        <h5 *ngIf="item.getMonth() === 0; else elseBlock">{{item.getFullYear()}}</h5>
                        <ng-template #elseBlock>
                            <h6 class="text-muted" *ngIf="!toggle">{{months[item.getMonth()].substring(0, 3) | lowercase}}</h6>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>