::ng-deep .p-slider-handle{
    border-width: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
::ng-deep .p-slider-handle span {
  background-color: rgb(255, 255, 255);
  color: #3238ba;
  text-align: center;
  border-radius: 6px;
  padding: 5px 20px;

  width: fit-content;
  box-shadow: 0 0 8px 3px #c2c2c2;
  z-index: 1;
}
::ng-deep .p-slider-handle span::after {
  content: " ";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}
::ng-deep .p-slider-handle span.startHandle{
  margin-top: -90px;
}
::ng-deep .p-slider-handle span.startHandle::after{
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  top: -20px;
}
::ng-deep .p-slider-handle span.endHandle{
  margin-top: 30px;
}
::ng-deep .p-slider-handle span.endHandle::after{
  border-color: transparent transparent rgb(255, 255, 255) transparent;
  top: 21px;
}
hr{
  margin:0px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}